<ion-header>
  <ion-navbar>
    <ion-title>
      البحث
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
  
      <ion-card class="card1" ion-item *ngFor="let item of items">
          <ion-card-header>
              {{ item }}
        </ion-card-header>
        <ion-img class="gps1" src="../../assets/imgs/map_icon.png" ></ion-img>
        <ion-img class="rate1" src="../../assets/imgs/rate.png"></ion-img>
  </ion-card>
  </ion-list>
  <!-- <ion-list>
  <ion-grid>
      <ion-row *ngFor="let i of rows">
        <ion-col *ngFor="let item of items | slice:(i*3):(i+1)*3" width-33>
          <ion-card>
            <!-- <img src="{{category.icon}}" /> -->
            <!-- <ion-card-content>
              <ion-card-title>
                {{ item }}
              </ion-card-title>            
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-list> --> 
  </ion-content>
  



